aiohttp==3.9.3
aiosignal==1.3.1
altgraph==0.17.4
asgiref==3.8.1
async-timeout==4.0.3
attrs==23.2.0
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
contourpy==1.2.1
cycler==0.12.1
Deprecated==1.2.14
dill==0.3.8
Django==5.1.4
django-filter==24.3
django-widget-tweaks==1.5.0
ffmpeg-python==0.2.0
filelock==3.13.3
frozenlist==1.4.1
future==1.0.0
idna==3.6
imageio==2.34.0
kiwisolver==1.4.5
matplotlib==3.9.2
mpmath==1.3.0
multiprocess==0.70.16
numpy==1.26.4
opencv-python==4.9.0.80
packaging==24.0
Pillow==10.3.0
playwright==1.49.1
protobuf==4.25.3
pydub==0.25.1
pyee==12.0.0
pyparsing==3.1.2
PyQt5==5.15.10
PyQt5-Qt5==5.15.2
PyQt5-sip==12.13.0
PyQtWebEngine==5.15.6
PyQtWebEngine-Qt5==5.15.2
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pyttsx3==2.90
pytz==2024.1
PyYAML==6.0.1
requests==2.31.0
scipy==1.13.0
six==1.16.0
SpeechRecognition==3.10.1
sympy==1.12
tqdm==4.66.2
typing_extensions==4.11.0
tzdata==2024.1
urllib3==2.2.1
watchdog==4.0.0
websockets==12.0
zipp==3.18.1
openai-whisper==20240930
nltk